@import "../styles/variable.scss";

@media screen and (min-width: 1268px) {
  .apropos {
    background-color: $thirdColor;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 130px;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      img {
        width: 12rem;
        object-fit: cover;
        z-index: 0;
      }
    }
    .descriptionContainer {
      width: 75%;
      margin-left: 7px;
      height: 400px;
      h1 {
        font-weight: 900;
        font-size: 2rem;
      }
      p {
        color: #fff;
        line-height: 30px;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    .apropos__underline {
      height: 3px;
      width: 250px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      background-color: $secondaryColor;

      &:after {
        content: "";
        height: 8px;
        width: 25px;
        background-color: $secondaryColor;
        position: absolute;
        border-radius: 10px;
        transform: translateY(0.7px);
      }
    }
    .icons {
      color: "#5a5a5a";
      font-size: 2em;
      margin: 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .apropos {
    background-color: $thirdColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    .imageContainer {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      margin: 10px;
     
      img {
        margin-top: 5px;
        z-index: 0;
      
      }
    }
    .descriptionContainer {
      height: 400px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3em;
      h1 {
        font-weight: 900;
        font-size: 1.3rem;
      }
      p {
        color: #4d4b4b;
        line-height: 30px;
        font-size: 0.6rem;
        font-weight: 700;
        padding: 0 1em;
        width: 80%;
        text-align: center;
      }
    }
    .icons {
      color: "#5a5a5a";
      font-size: 1em;
      margin: 10px;
    }
    .apropos__underline {
      height: 3px;
      width: 250px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
      background-color: $secondaryColor;
      &:after {
        content: "";
        height: 8px;
        width: 25px;
        background-color: $secondaryColor;
        position: absolute;
        border-radius: 10px;
        transform: translateY(-1px);
      }
    }
  }
}
