@media screen and (min-width: 1268px) {
  .banner {
    background-color: #272727;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 140px 130px 100px 130px;
    p {
      color: #fff;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: start;
      width: 100%;
    }
    .p__last {
      color: rgb(216, 210, 210);
      font-size: 1.4rem;
      font-weight: 400;
      text-align: start;
      width: 100%;
      strong {
        color: #ffe73d;
        font-weight: 400;
      }
    }
    .banner__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2em;
      width: 100%;
      .banner__title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        .banner__title__parts__first {
          color: #fff;
          font-size: 3rem;
          font-weight: 700;
          text-align: start;
          margin: 0;
        }
        .banner__title__parts__second {
          color: #fff;
          font-size: 2rem;
          font-weight: 700;
          text-align: start;
          margin: 5px;
        }

        .banner__title__name {
          color: #ffe73d;
          font-weight: 500;
          font-size: 2em;
          line-height: 0.5;
          text-align: start;
        }
      }
    }
    .banner__direction {
      margin: 0;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      button {
        background-color: transparent;
        border: none;
        padding: 10px;
        border: 2px solid #ffe73d;
        text-align: center;
        color: #ffe73d;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          background-color: #ffe73d;
          transition: 1s;
          color: rgba(#000, 0.9);
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-size: 1rem;
        }
      }
      .banner__direction__content {
        width: 30px;
        height: 10px;
        position: relative;
        display: flex;
        justify-content: center;
      }
    }
    // border-bottom: 0.5px solid rgba(#ffe73d, 0.2);
  }

  .banner__img {
    width: 5em;
    height: auto;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 50px;
  }
  50% {
    bottom: 70px;
  }
}

@media all and (max-width: 768px) {
  .banner {
    background-color: #272727;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    padding: 30px;
    box-sizing: border-box;
    // padding: 140px 130px 100px 130px;

    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 700;
      text-align: start;
      width: 100%;
    }
    .p__last {
      color: rgb(216, 210, 210);
      font-size: 1rem;
      font-weight: 400;
      text-align: start;
      width: 100%;
      strong {
        color: #ffe73d;
        font-weight: 400;
      }
    }
    .banner__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.2em;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 100%;
      .banner__title {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 10px;
        .banner__title__parts__first {
          color: #fff;
          font-size: 1.2em;
          font-weight: 700;
          text-align: start;
          margin: 0;
        }
        .banner__title__parts__second {
          color: #fff;
          font-size: 1.1rem;
          font-weight: 700;
          text-align: start;
          margin: 5px;
        }

        .banner__title__name {
          color: #ffe73d;
          font-weight: 500;
          font-size: 2em;
          line-height: 0.5;
          text-align: start;
        }
      }
    }
    .banner__direction {
      margin: 0;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      button {
        background-color: transparent;
        border: none;
        padding: 10px;
        border: 2px solid #ffe73d;
        text-align: center;
        color: #ffe73d;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          background-color: #ffe73d;
          transition: 1s;
          color: rgba(#000, 0.9);
          font-family: "Josefin Sans", sans-serif;
          font-weight: 700;
          font-size: 1rem;
        }
      }
      .banner__direction__content {
        width: 30px;
        height: 10px;
        position: relative;
        display: flex;
        justify-content: center;
      }
    }
    // border-bottom: 0.5px solid rgba(#ffe73d, 0.2);
  }

  .banner__img {
    width: 5em;
    height: auto;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
