@import "variable.scss";
@media screen and (min-width: 1268px) {
  .competence {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 50px 50px;
    justify-content: space-between;
    align-items: center;
    padding: 100px 130px;
    box-sizing: border-box;
    background-color: $primaryColor;
    h2 {
      color: #fff;
      font-size: 2.2em;
      line-height: 0.5;
      text-align: start;
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      margin-bottom: 15px;
    }

    .competence__separator {
      height: 1px;
      width: 60%;
      background: linear-gradient(
        0.25turn,
        rgba($secondaryColor, 0.2),
        rgba($secondaryColor, 0.4),
        $secondaryColor
      );
      transform: translateY(100px);
    }
    .competence__underline {
      height: 3px;
      width: 200px;
      background-color: $secondaryColor;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-1px);
      &:after {
        content: "";
        height: 6px;
        width: 25px;
        background-color: $secondaryColor;
        position: absolute;
        border-radius: 10px;
      }

      margin-bottom: 20px;
    }

    .competence__container {
      line-height: 1.5em;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-wrap: wrap;
      .competence__container__item {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        width: 20rem;
        margin-left: 50px;
        margin-bottom: 10px;
        .competence__container__item__header {
          position: relative;
          color: #fff;
          font-size: 15px;
          font-weight: 200;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: -6px;
          strong {
            color: $secondaryColor;;
            font-weight: lighter;
            font-size: 1rem;
          }
          h3 {
            font-weight: lighter;
            font-size: 1rem;
          }
        }
        .niveau {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          border-radius: 50px;
          background-color: #fff;
          height: 5px;
          .niveauHtml {
            width: 70%;
            height: 5px;
            background-color: $secondaryColor;;
            border-radius: 50px 0px 0px 50px;
          }
          .niveauCss {
            width: 70%;
            height: 5px;
            background-color: $secondaryColor;;
          }
          .niveauJs {
            width: 65%;
            background-color: $secondaryColor;
            height: 5px;
          }
          .niveauJava {
            width: 60%;
            height: 10px;
            background-color: $secondaryColor;;
          }
          .niveauCsharp {
            width: 60%;
            height: 5px;
            background-color: $secondaryColor;;
          }
          .niveauDb {
            width: 60%;
            height: 5px;
            background-color: $secondaryColor;;
          }
          .niveauPhp {
            width: 50%;
            height: 5px;
            background-color: $secondaryColor;;
          }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .competence {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 30px 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    h2 {
      color: #fff;
      font-size: 1.2em;
      line-height: 0.5;
      text-align: start;
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
      margin-bottom: 15px;
    }

    .competence__separator {
      height: 1px;
      width: 60%;
      background: linear-gradient(
        0.25turn,
        rgba(#ffe73d, 0.2),
        rgba(#ffe73d, 0.4),
        #ffe73d
      );
      transform: translateY(100px);
    }
    .competence__underline {
      height: 3px;
      width: 200px;
      background-color: #fff;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-1px);
      &:after {
        content: "";
        height: 6px;
        width: 25px;
        background-color: #ffe73d;
        position: absolute;
        border-radius: 10px;
      }

      margin-bottom: 20px;
    }

    .competence__container {
      line-height: 1.5em;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-wrap: wrap;
      box-sizing: border-box;
      .competence__container__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 15rem;
        margin-bottom: 10px;
        box-sizing: border-box;
        .competence__container__item__header {
          position: relative;
          color: #fff;
          font-size: 15px;
          font-weight: 200;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: -6px;
          strong {
            color: #ffe73d;
            font-weight: lighter;
            font-size: 1rem;
          }
          h3 {
            font-weight: lighter;
            font-size: 1rem;
          }
        }
        .niveau {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          border-radius: 50px;
          background-color: #fff;
          height: 5px;
          .niveauHtml {
            width: 70%;
            height: 5px;
            background-color: #ffe73d;
            border-radius: 50px 0px 0px 50px;
          }
          .niveauCss {
            width: 70%;
            height: 5px;
            background-color: #ffe73d;
          }
          .niveauJs {
            width: 65%;
            background-color: #ffe73d;
            height: 5px;
          }
          .niveauJava {
            width: 60%;
            height: 10px;
            background-color: #ffe73d;
          }
          .niveauCsharp {
            width: 60%;
            height: 5px;
            background-color: #ffe73d;
          }
          .niveauDb {
            width: 60%;
            height: 5px;
            background-color: #ffe73d;
          }
          .niveauPhp {
            width: 50%;
            height: 5px;
            background-color: #ffe73d;
          }
        }
      }
    }
  }
}
