html,
body {
  padding: 0;
  margin: 0;
  background-color: #272727;
  scroll-behavior: smooth;
  font-family: "Josefin Sans";
  z-index: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
