@media screen and (min-width: 1268px) {
  .menu__main {
    display: none;
    .menu__btn {
      display: none;
      background-color: #fff;
    }
  }
  .menu__container {
    position: fixed;
    width: 100%;
    display: flex;
    background-color: #272727;
    z-index: 20;
    align-items: center;
  }
  .menu {
    background-color: #272727;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 30px;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    .navigation {
      list-style: none;
      display: flex;
      background-color: #272727;
      z-index: 13;
      justify-content: center;
      align-items: center;
      width: 100%;

      .navigation__item {
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        font-family: "Josefin Sans";
        text-transform: uppercase;
        transition: 1s;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 30px 10px;
        font-weight: 700;
        &:hover {
          color: #ffe73d;
          transition: 1s;
        }
      }
      .navigation__item__active {
        text-decoration: none;
        color: #ffe73d;
        font-size: 13px;
        font-family: "Josefin Sans";
        text-transform: uppercase;
        transition: 1s;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 30px 10px;
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .menu__main {
    display: flex;
    padding: 10px;
    justify-content: center;
    .menu__btn {
      display: flex;
      font-size: 20px;
      background-color: #fff;
      margin: 0px 20px;
    }
  }
  .menu__container {
    display: flex;
    background-color: #272727;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    padding: 0;
    background-color: transparent;
  }
  .menu {
    background-color: #272727;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    .navigation {
      list-style: none;
      display: flex;
      flex-direction: column;
      background-color: #272727;
      z-index: 13;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      .navigation__item {
        text-decoration: none;
        color: #fff;
        font-size: 13px;
        font-family: "Josefin Sans";
        text-transform: uppercase;
        transition: 1s;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 10px 10px;
        font-weight: 700;
        &:hover {
          color: #ffe73d;
          transition: 1s;
        }
      }
      .navigation__item__active {
        text-decoration: none;
        color: #ffe73d;
        font-size: 13px;
        font-family: "Josefin Sans";
        text-transform: uppercase;
        transition: 1s;
        cursor: pointer;
        display: flex;
        align-items: center;
        margin: 10px 10px;
        font-weight: 700;
      }
    }
  }

  .visibileMenu {
    display: flex;
  }

  .unVisibileMenu {
    display: none;
  }
}
